.sku_props .bx_item_section_name{display: none;}
.bx_catalog_item_scu .bx_item_detail_scu ul li .cnt_item{width:180px !important; height:70px !important;}
.display_list .information .offer_buy_block{display: none !important;}
.display_list .list_item .preview_text{height: 164px; overflow-y: hidden;}
.display_list .ofo-href{width: 100%;}
.display_list .item_wrap{border:none !important;}